*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
body{
    background-color: #f8f8f8;
}
.box-formulir{
    width: 90%;
    margin: 100px auto;
}
.box{
    background-color: white;
    border: 1px solid #ddd;
    padding: 12px;
    box-sizing: border-box;
    margin: 5px 0 25px;
    border-radius: 30px;
}
.table-form{
    width: 50%;
}
.table-form tr td:nth-child(1){
    width: 30%;
}
.input-control{
    padding: 5px 10px;
    font-size: 16px;
    margin: 5px 0;
}
.btn-daftar{
    padding: 10px 15px;
    background-color: #4A99D7;
    color:#fff;
    border:none;
    font-size: 16px;
    border-radius: 30px;
}
.btn-daftar:hover {
    cursor: pointer;
    background-color: #4881AE;
}
.btn-cetak {
    display: inline-block;
    padding: 10px 17px;
    color: #fff;
    background-color: #4A99D7;
    margin-top: 5px;
    text-decoration: none;
    border-radius: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.btn-cetak:hover {
    cursor: pointer;
    background-color: #4881AE;
    
}
.btn-back {
    display: inline-block;
    padding: 10px 17px;
    color: #fff;
    background-color: red ;
    margin-top: 5px;
    text-decoration: none;
    border-radius: 30px;   
}
.btn-back:hover {
    cursor: pointer;
    background-color: darkred;
}
.table-bukti{
    width: 100%;

}
.table-bukti tr {
    height: 30px;
}
.table-bukti h2 {
    color: red;
}
.main-login{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.box-login {
    width: 360px;
    min-height: 200px;
}
.box-login h2 {
    text-align: center;
    margin-bottom: 20px;
}
.btn-login {
    padding: 7px 20px;
    background-color: #4A99D7;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 16px;
}
.btn-login:hover {
    cursor: pointer;
    background-color: #4881AE;
}
header {
    background-color: dimgray;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}
header::after {
    content: '';
    display: block;
    clear: both;
}
header h2 {
    padding: 15px 25px;
    display: inline-block;
    float: left;
}
header ul {
    float: left;
}
header ul li {
    padding:  24px 25px;
    display: inline-block;
}
 a {
    padding: 7px 20px;
    color: #4A99D7;
    border: none;
    text-decoration: none;
}
.content {
    width: 90%;
    padding: 10px;
    box-sizing: border-box;
    margin: 50px  auto;
}
.table {
    width: 100%;
    border-collapse: collapse;
}
.table tr {
    height: 30px;
}
.table tr td {
    padding: 5px 10px;
    text-align: center;
}
.no {
    text-decoration-color: red;
}<?
